html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	font-family: 'Noto Sans Kr', sans-serif;
}

body {
	display: flex;
	flex-flow: column;
	max-width: 640px;
}

header {
	background-color: $color-primary;
	height: 15%;
}

h1 {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	color: white;
	font-size: 1.5em;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-family: 'Fredoka One', sans-serif;
}

.homepageSize {
	height: 111px;
	line-height: 111px;
}

main {
	display: flex;
	flex-direction: column;
	height: 85%;
}

label {
	display: block;
	color: $text-light;
	font-size: 0.75em;
}

.btn {
	background-color: $color-accents;
	border: none;
	display: block;
	color: #ffffff;
	font-size: 1em;
	line-height: 1em;
	padding: 1em;
	cursor: pointer;
	border-radius: 50px;
	text-transform: uppercase;
}

.formlogin {
	height: 50%;
	padding-top: 50px;
	display: flex;
	flex-flow: column;
	align-items: center;
	@include element('input') {
		width: 90%;
		height: 3rem;
		border: 1px solid $light-grey;
		padding-left: 5px;
		color: $text-light;
	}
	@include element('label') {
		width: 90%;
		margin: 1em 0 0.3em 0;
	}
}

.wrapper {
	display: flex;
	align-items: center;
	padding-top: 50px;
	height: 50%;
	flex-flow: column;
	@include element('input') {
		width: 200px;
		@include on-event {
			background-color: darken($color: $color-accents, $amount: 10);
		}
		@include modifier('signup') {
			background-color: transparent;
			color: $color-accents;
			@include on-event {
				background-color: transparent;
				text-decoration: underline;
			}
		}
	}
}

h5 {
	color: $text-light;
	margin: 1em 0 1em 0.5em;
}

.dishes {
	display: grid;
	row-gap: 2em;
	grid-template-columns: repeat(auto-fit, 75px 1fr 50px);
	@include element('dish') {
		display: flex;
		justify-content: space-around;
		align-items: center;
		@include element('img') {
			width: 75px;
			height: 75px;
		}
		@include element('name') {
			width: 200px;
			margin: 0;
		}
		@include element('price') {
			color: $text-light;
			margin: 0;
		}
	}
}

.material-icons {
	color: $color-accents;
	font-size: 36px;
	@include on-event {
		cursor: pointer;
		color: darken($color: $color-accents, $amount: 10)
	}
}

a {
	color: $brand-color;
	text-decoration: none;

	@include on-event {
		color: $text-color;
		text-decoration: underline;
	}
}
